<div class="credit">
    <div class="mui-content">
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="/images/images/yuantiao.jpg">
                    </a>
                </div>
                <!-- 第一张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/images/images/shuijiao.jpg">
                    </a>
                </div>
                <!-- 第二张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/images/images/muwu.jpg">
                    </a>
                </div>
                <!-- 第三张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/images/images/cbd.jpg">
                    </a>
                </div>
                <!-- 第四张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="/images/images/yuantiao.jpg">
                    </a>
                </div>
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="/images/images/shuijiao.jpg">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>
    </div>

    <div class="weui-grids">
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">快速借款</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">信用查询</p>
        </a>
    </div>
    <div class="C clearfix">
        <p>产品推荐</p>
        <p>更多产品</p>
    </div>
    <div class="xinYongKa weui-grids">
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">信用卡申请</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">够花</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">贷贷看</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">玖富万卡</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">读秒钱包</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">宜人贷</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">小树时代</p>
        </a>
        <a href="javascript:;" class="jieKuan weui-grid">
            <div class="weui-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="weui-grid__label">花豹</p>
        </a>
    </div>


</div>