<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      li{
        list-style: none;

      }
      .clearfix::after{
        content: "";
        display: block;
        clear: both;
      }
      .adminTop{
        width: 100%;
        height: 58px;
        line-height: 58px;
        padding: 0 20px;
        background: #00E3E3;
      }
      .logoLeft{
        float: left;
        color: #fff;
        font-size: 14px;
      }
      .logoLeft span{
        float: left;
        text-align: center;
        display: block;
        width: 48px;
        height: 48px;
        line-height: 48px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
      .logoRight li a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
      }
      .logoRight{
        float: right;
      }
      .logoRight ul li{
        float: right;
        padding: 0 20px;
        float: left;
        cursor: pointer;
      }
      .adminC{
        width: 100%;
      }
      .cLeft{
        width: 20%;
        height: auto;
        float: left;
        background: #4F4F4F;

      }
      .cLeft li{
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #000;
        border-top: none;
      }
      .cLeft ul li a{
        color:#FFF;
        text-decoration: none;
        font-size: 14px;
      }
      .cRight{
        width:70%;
        float: left;
        padding-left: 25px;
      }
      .cRight div{
        width: 100%;
        height: 58px;
        border: 1px solid gray;
        line-height: 58px;
      }
      .cRight input{
        width: 155px;
        height: 35px;
        line-height: 35px;
        margin-left: 25px;
      }
      .cRight button{
        width: 45px;
        height: 25px;
        line-height: 25px;
      }

      .lei th {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="adminTop clearfix">
      <div class="logoLeft">
        <span>LOGO</span>
        &nbsp;&nbsp;&nbsp;&nbsp;立伟人力资源后台管理中心
      </div>
      <div class="logoRight">
        <ul>
          <li><a href="#">用户:admin</a></li>
          <li><a href="#">系统首页</a></li>
          <li><a href="#">刷新</a></li>
          <li><a href="#">清除缓存</a></li>
          <li><a href="#">设置</a></li>
          <li><a href="#">退出</a></li>
        </ul>
      </div>

    </div>
    <div class="adminC clearfix">
      <div class="cLeft">
        <ul>
          <li><a href="#">用户管理</a></li>
          <li><a href="#">新闻管理</a></li>
        </ul>
      </div>
      <div class="cRight">
        <div>
          <input type="text" name="" value=""placeholder="请输入用户身份证号">
          <button type="button" name="button">搜索</button>
        </div>

<table class="text-center table table-striped table-bordered  table-hover table-condensed">
  <tr class="lei">
    <th>姓名</th>
    <th>性别</th>
    <th>年龄</th>
    <th>手机号</th>
    <th>身份证号</th>
  </tr>

  <tr class="info">
    <td>李四</td>
    <td>男</td>
    <td>33</td>
    <td>138xxxxxxxxxx</td>
    <td>110xxxxxxxxxxxxxxxx</td>
  </tr>

  <tr class="info">
    <td>张三</td>
    <td>男</td>
    <td>33</td>
    <td>138xxxxxxxxxx</td>
    <td>110xxxxxxxxxxxxxxxx</td>
  </tr>

</table>


      </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      
    </script>
  </body>
</html>
